.swiper-container {
  height: 100vh;
  background-color: #eee;
  .swiper-slide {
    position: relative;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .content-wrap {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      text-align: center;
      font-weight: bold;
      .content {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        padding-bottom: 100px;
        .fs-60,
        .fs-54 {
          letter-spacing: 5px;
          text-shadow: 0px 6px 9px rgba(22, 22, 22, 0.6);
        }
        .fs-24,
        .fs-20 {
          letter-spacing: 3px;
          text-shadow: 0px 3px 6px rgba(22, 22, 22, 0.6);
          text-transform: uppercase;
        }
        .fs-18,
        .fs-16 {
          letter-spacing: 3px;
          text-shadow: 0px 1px 3px rgba(22, 22, 22, 0.6);
        }
        .finance {
          width: 600px;
          margin: 40px auto 0;
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    transition: all ease 0.5s;
    color: #fff;
  }
  .swiper-button-next {
    right: -30px;
  }
  .swiper-button-prev {
    left: -30px;
  }
  &:hover {
    .swiper-button-prev {
      left: 40px;
    }
    .swiper-button-next {
      right: 40px;
    }
  }
}
.line-swiper {
  position: relative;
  z-index: 1;
  margin-top: -77px;
  width: 100%;
  height: auto;
}
.about {
  position: relative;
  text-align: center;
  .title {
    .fs-15 {
      color: #333;
      padding: 4px 0 60px 0;
    }
    .fs-30 {
      color: #292929;
      letter-spacing: 5px;
      font-weight: bold;
    }
  }
  .desc {
    color: #e13d40;
    letter-spacing: 6px;
    padding-bottom: 30px;
  }
  .text {
    width: 1020px;
    margin: 0 auto;
    color: #666;
    line-height: 200%;
  }
  .data-group {
    width: 930px;
    margin: 50px auto 60px;
    .item {
      color: #e63c2f;
    }
  }
  .about-more {
    font-size: 14px;
    width: 90px;
    height: 30px;
    border-radius: 15px;
    margin: 0 auto;
    border: 1px solid #e13d40;
    color: #e13d40;
    transition: all ease 0.3s;
    &:hover {
      background-color: #e13d40;
      color: #fff;
    }
  }
}
.services {
  margin-top: -40px;
  height: 1340px;
  background: url(../../static/image/m3_bg1.jpg) no-repeat center;
  .wrap {
    align-items: flex-start;
  }
  .left {
    .title {
      color: #333;
      .fs-30 {
        letter-spacing: 2px;
        padding-bottom: 4px;
      }
    }
    .tag {
      background: linear-gradient(to right, #ff0502, #fe5e0f);
      color: #fff;
      width: 170px;
      height: 50px;
      border-radius: 5px;
    }
    .text {
      width: 370px;
      font-size: 15px;
      padding-top: 28px;
      line-height: 200%;
      color: #555;
    }
    .more {
      font-size: 14px;
      width: 90px;
      height: 30px;
      border-radius: 15px;
      border: 1px solid #e13d40;
      color: #e13d40;
      margin-top: 26px;
      transition: all ease 0.3s;
      &:hover {
        background-color: #e13d40;
        color: #fff;
      }
    }
  }
  .right {
    .services-swiper {
      width: 780px;
      height: 440px;
      padding: 10px;
      overflow: hidden;
      .swiper-slide {
        .item {
          position: relative;
          background-color: #fff;
          margin-right: 20px;
          width: 240px;
          height: 100%;
          text-align: center;
          transition: all ease 0.5s;
          overflow: hidden;
          .item-icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease 0.5s;
          }
          .fs-14{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 35px;
            background: rgba(0,0,0,0.5);
            color: #fff;
          }
          .cover {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom right, #ff0100, #fe620f);
            color: #fff;
            font-size: 14px;
            opacity: 0;
            transition: all ease 0.3s;
          }
          &:hover {
            box-shadow: 0px 0px 10px 0px #666666;
            .cover {
              opacity: 1;
            }
            .item-icon {
              transform: scale(1.1);
              object-fit: cover;
            }
          }
        }
      }
    }
    .services-pagination {
      padding-left: 20px;
      .arrow-group {
        width: 48px;
        height: 48px;
        background: url(../../static/image/arrow-up.png) no-repeat center;
        border: 2px solid #9c9c9c;
        border-radius: 50%;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 20px;
        img {
          position: absolute;
          left: -2px;
          top: -2px;
          width: 48px;
          height: 48px;
          opacity: 0;
          transition: all ease 0.3s;
        }
        &:hover {
          img {
            opacity: 1;
          }
        }
        &.down {
          transform: rotate(180deg);
        }
      }
    }
  }
}
.layout {
  padding-bottom: 80px;
  .wrap {
    align-items: flex-start;
  }
  .left {
    .title {
      color: #333;
      padding-bottom: 40px;
      .fs-30 {
        letter-spacing: 2px;
        padding-bottom: 4px;
      }
    }
    .content {
      align-items: flex-start;
      .layout-logo {
        width: 26px;
        height: auto;
        margin-right: 26px;
      }
      .city-name {
        font-size: 15px;
        color: #555555;
        width: 380px;
        flex-wrap: wrap;
        div {
          margin: 0 25px 15px 0;
          width: 45px;
        }
      }
      .tag {
        background: linear-gradient(to right, #ff0502, #fe5e0f);
        color: #fff;
        width: 140px;
        height: 40px;
        border-radius: 0 10px;
        margin-bottom: 10px;
      }
    }
  }
  .right {
    #mapTipContent {
      width: 900px;
      margin: 0 auto;
      display: none;
    }
    .mapTipText {
      width: 280px;
      height: 110px;
      background-color: #ffffff;
      box-shadow: -6px -6px 20px #e4e4e4, 6px 6px 20px #e4e4e4;
      .mapTipImg {
        height: 66px;
        width: 66px;
        float: left;
        border: 2px solid #ffffff;
        border-radius: 50%;
        overflow: hidden;
        margin: -12px 5px 0 -12px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .mapTipList {
        float: left;
        margin-left: 4px;
        h2 {
          text-align: left;
          a {
            font-size: 24px;
            color: #262626;
            text-decoration: none;
            span {
              font-size: 16px;
              margin-left: 3px;
            }
          }
          &:hover {
            color: #0085d2;
          }
        }
        ul {
          width: 203px;
          padding-right: 10px;
          li {
            list-style: none;
            float: left;
            padding: 7px 3px 0 3px;
            a {
              color: #262626;
              text-decoration: none;
              &:hover {
                background-color: #2ebcfe;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
    .itemCon {
      position: relative;
      .henan {
        position: absolute;
        z-index: 1;
        left: 570px;
        top: 344px;
        .dot {
          height: 2px;
          width: 2px;
          border-radius: 100%;
          animation: sploosh 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
          background: transparent;
          &.dot1 {
            animation-delay: 1s;
          }
          &.dot2 {
            animation-delay: 1.5s;
          }
          &.dot3 {
            animation-delay: 2s;
          }
        }
      }
    }
    @keyframes sploosh {
      0% {
        box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.7);
        background: rgba(255, 0, 0, 0.7);
      }
      100% {
        box-shadow: 0 0 0 80px rgba(255, 0, 0, 0);
        background: rgba(255, 0, 0, 0);
      }
    }
  }
}
.mid-banner {
  padding-top: 35px;
  height: 800px;
  position: relative;
  .video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mask {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .mask-left {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    img {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      &:last-child {
        width: 52%;
      }
    }
  }
  .mask-right {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    img {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      &:last-child {
        width: 52%;
      }
    }
  }
  .info-group-box {
    padding-top: 17%;
    .info-group {
      width: 480px;
      text-align: center;
      cursor: pointer;
      line-height: 30px;
      transition: opacity ease 0.3s;
      .fs-26 {
        color: #e93a27;
        font-weight: bold;
      }
      .fs-22 {
        color: #666666;
        margin: 18px 0 30px 0;
      }
      &.hover {
        color: #fff;
        .fs-26 {
          color: #fff;
        }
        .fs-22 {
          color: #fff;
        }
      }
      &.hide {
        opacity: 0;
      }
    }
  }
}
.news {
  padding: 110px 0;
  background-color: #f4f4f4;
  .item {
    width: 380px;
    height: 500px;
    padding: 50px 34px;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    overflow: hidden;
    .bg-liner {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: all ease 0.5s;
      opacity: 0;
      background: linear-gradient(to right, #ff0502, #fe5e0f);
    }
    .main {
      position: relative;
    }
    .line {
      width: 25px;
      height: 5px;
      background-color: #333;
      transition: all ease 0.5s;
    }
    .title {
      color: #333;
      font-size: 24px;
      margin: 20px 0 26px 0;
      transition: all ease 0.5s;
    }
    .content {
      display: block;
      cursor: pointer;
      border-bottom: 1px dashed #ccc;
      line-height: 150%;
      margin-bottom: 20px;
      color: #666;
      transition: all ease 0.5s;
      .icon-time {
        transition: all ease 0.5s;
        width: 18px;
        height: 18px;
        background: url(../../static/image/time.png) no-repeat center;
      }
      .icon-compass {
        transition: all ease 0.5s;
        width: 18px;
        height: 18px;
        background: url(../../static/image/compass.png) no-repeat center;
      }
      .date {
        transition: all ease 0.5s;
        color: #e93a27;
      }
      .download-title {
        transition: margin ease 0.5s;
      }
      .icon-download {
        width: 30px;
        height: 30px;
        background: url(../../static/image/download.png) no-repeat center;
      }
      .news-cont {
        color: #e93a27;
        transition: all ease 0.5s;
      }
      &:hover {
        .download-title {
          margin-left: 10px;
        }
      }
    }
    .icon-arrow {
      display: block;
      transition: all ease 0.5s;
      width: 30px;
      height: 30px;
      background: url(../../static/image/arrow-right-red.png) no-repeat center;
    }
    &:hover {
      .bg-liner {
        opacity: 1;
      }
      .line {
        width: 80px;
        background-color: #fff;
      }
      .title {
        color: #fff;
      }
      .content {
        border-color: #fff;
        color: #fff;
        .icon-time {
          background: url(../../static/image/time-w.png) no-repeat center;
        }
        .date {
          color: #fff;
        }
        .icon-compass {
          background: url(../../static/image/compass-w.png) no-repeat center;
        }
        .news-cont {
          color: #fff;
        }
      }
      .icon-arrow {
        background: url(../../static/image/arrow-right.png) no-repeat center;
        margin-left: 10px;
      }
      .icon-download {
        background: url(../../static/image/download-w.png) no-repeat center;
      }
    }
  }
}

.commitment {
  width: 1200px;
  margin: 0 auto;
  padding: 76px 0 98px;
  .title {
    text-align: center;
    color: #292929;
    .fs-15 {
      color: #343434;
    }
  }
  .list {
    padding-top: 73px;
    flex-wrap: wrap;
    .item {
      width: 240px;
      height: 280px;
      border: 1px solid #e0e0e0;
      border-right: 0;
      text-align: center;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;
      .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #f32f2b, #fe6210);
        z-index: -1;
        opacity: 0;
        transition: all ease 0.5s;
      }
      .text {
        font-size: 16px;
        padding-top: 56px;
        color: #343434;
        transition: all ease 0.5s;
      }
      &:hover {
        .text {
          color: #fff;
        }
        .bg {
          opacity: 1;
        }
      }
      &:nth-child(5n) {
        border-right: 1px solid #e0e0e0;
      }
    }
  }
}
