* {
  margin: 0;
  padding: 0;
}
body{
  font-family: "微软雅黑";
  color: #525252;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #525252;
}
.pointer {
  cursor: pointer;
}
/* 布局 */
.wrap {
  width: 1250px;
  margin: 0 auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-col-star{
  align-items: flex-start;
}

//字体样式
.bold {
  font-weight: bold;
}
.fc-3{
  color: #333;
}
.fc-6 {
  color: #666;
}
.fc-9 {
  color: #999;
}

//字体大小，历遍10-60
@for $i from 10 through 60 {
  .fs-#{$i} {
    font-size: $i + px;
  }
}

// 定义内外边距，历遍1-80
@for $i from 0 through 80 {
  // 只要双数和能被5除尽的数
  @if $i % 2 == 0 or $i % 5 == 0 {
    // 得出：m-30
    .m-#{$i} {
      margin: $i + px;
    }
    // 得出：p-30
    .p-#{$i} {
      padding: $i + px;
    }

    @each $short, $long in l left, t top, r right, b bottom {
      // 定义外边距：m-l-30
      .m-#{$short}-#{$i} {
        margin-#{$long}: $i + px;
      }
      // 定义内边距：p-l-30
      .p-#{$short}-#{$i} {
        padding-#{$long}: $i + px;
      }
    }
  }
}
